body {
	/*margin:0px 20px 0px 20px; */
	margin:0px 30px 0px 0px; 
	
	padding:0px;
	text-align:center;
}
/*
select{
	height: 38px;
	 border: 1px solid #CCC;
	 background: #fff;
	font: 18px arial,sans-serif;
	 margin-top:-1px;
	 
	 padding: 0px 5px 0px 5px;

}
select:focus {outline: none;
	border: 1px solid #4d90fe;
	background: #fff;
}
*/
h1 {
	font-size: 3.2em;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover{ 
	/*text-decoration: underline;*/
	color: #0095cd;
}
.hover:hover {
	color: #0095cd;
} 
input {
	-moz-box-sizing: content-box;
	-moz-padding-start: 0;
	-moz-padding-end: 0;
}

input.search{
	background-color: #fff;
	border: 1px solid rgb(185,185,185);
	border-top-color: rgb(160,160,160);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	cursor: text;
	font: 18px arial,sans-serif;
	height: 36px;
	position: relative;
	-webkit-border-radius: 1px;
	padding-left: 10px;
	width: 400px;
}
input.search:focus{
	-webkit-animation: blink 1.3s linear infinite;
	cursor: text;
	font: 18px arial,sans-serif;
	outline: none;
	border: 1px solid #4d90fe;
	padding-left: 40px;
}
input.search {
	width: 450px;
	padding-left: 40px;
	line-height: 1.5em;
	border: none;
	background: none;
	color: #fff;
	background-color: #666;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	border-radius: 2em;
	padding: 11px 0 11px 40px;
}

.styled-select {
   display: inline-block;
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(/images/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   margin: 0px 10px 0px 0px;
}

.styled-select select {
   	background: transparent;
	width: 268px;
	padding: 5px;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	line-height: 1;
	height: 34px;
	-webkit-appearance: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}
table th{
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	padding: 2px 0px 0px 4px;
}
table tr {
	color: #000;
	background-color: #fff;
	border: 0px;
	/*border-bottom:1px solid #999*/; 
	
}
table td{padding: 2px 0px 0px 4px;}
tr:nth-child(even) {background: #f3f6fa}
.right{
	float: right;
}
.align-justify  { text-align:justify; } 
.align-left     { text-align:left; } 
.align-center   { text-align:center; } 
.align-right    { text-align:right; } 

#main-content {
	width: 100%;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	display:inline-block;
}
#search-area{
	clear: both;
	margin: 0 0 10px 0;
}
#navigator-area {
	width: 100%;
	background: grey;
	margin: 0 0 10px 0;
}
#navigator-area-agency {
	background: #fff;
	height: 500px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	width:45%;
	border-left:0.1em solid grey;
	border-right:0.1em solid grey;
	float: left;
}
#navigator-area-member {
	background: #fff;
	height: 500px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	width:55%;
	border-left:0.1em solid grey;
	border-right:0.1em solid grey;
	float: left;
}

#navigator-area-agency-list, #navigator-area-member-list {
	max-height: 474px;
	overflow: auto;
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#navigator-area-agency h3, #navigator-area-member h3, #view-area h3{
	text-align: center;
	width: 100%;
	background: grey;
	padding: 5px;
	color: #fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
#view-area{
	width: 100%;
	min-height: 25px;
	display: inline-block;
	background: #fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	border:0.1em solid grey;
}
#view-area-list {
	max-height: 400px;
	overflow: auto;
}
#view-area #view-area-list #tableView th, #edit-add-list #tableEditAdd th {
	width: 13%;
}
/*button*/
/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.margin10{
	margin: 10px;
}


/*POPUP*/
#popup input{
	background: transparent;
}
.ui-popup-overlay, .ui-widget-overlay {
    background: url("../css.ui/images/overlay_bg.png?v=3.0.0.30030") repeat scroll left top transparent;
    display: none;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}.ui-popup {
	display: none;
	position: absolute;
	/*top: 3%;*/
	left: 3%;
	right: 3%;
	bottom: 3%;
	background: none repeat scroll 0 0 white;
	padding: 15px 10px;
	z-index: 10000;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px #0f0e0f;
	-moz-box-shadow: 0 1px 3px #0f0e0f;
	box-shadow: 0 1px 3px #0f0e0f;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}
.ui-popup .closeButton {
background: url("/images/close-popup-white.png") no-repeat;
display: block;
width: 30px;
height: 30px;
float: right;
position: absolute;
right: -15px;
top: -16px;
cursor: pointer;
z-index: 1;
}

.ui-popup_active_true, .ui-popup-overlay_active_true {
display: block;
}
.ui-popup-overlay, .ui-widget-overlay {
display: none;
background: none repeat scroll 0 0 black;
background: url("/images/overlay_bg.png") top left repeat;
height: 100%;
left: 0;
opacity: 1;
position: fixed;
text-align: center;
top: 0;
width: 100%;
z-index: 10000;
}
html.tau-app-frame .tau-app.tau-page-entity, .tau-app.tau-page-entity ~ .tau-bubble {
    font-family: Arial;
    font-size: 12px;
}
.ui-popup .ui-popup-content.tau-app {
    position: relative;
}
.ui-popup .ui-popup-content {
    height: 100%;
    overflow: auto;
    width: 100%;
}
.tau-app {
    height: 100%;
    position: relative;
    width: 100%;
}